<nav>
    <div class="nav-wrapper topnav center">
        <a href="/" class="brand-logo center">News that's fit to Scrape</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/scrape">Scrape New Articles</a></li>
            <li><a href="/saved">Saved Articles</a></li>
        </ul>
    </div>
</nav>